In [3]:
import pandas as pd

In [21]:
pd.options.display.max_rows = 100

In [31]:
train = pd.read_csv('train.csv')

In [32]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [33]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [34]:
train = train.drop(['Id'], axis=1)

In [78]:
#trainVPUTA

In [13]:
def features_have_nans(data):
    data = 1

SyntaxError: unexpected EOF while parsing (<ipython-input-13-c1728c95ade9>, line 1)

In [27]:
#train.isnull().any()
#train.isnull().sum()

In [46]:
columns_with_nans = pd.DataFrame(train.isnull().any(), columns = ['isnan'])
nan_cols = list(columns_with_nans[columns_with_nans.isnan == True].index)

In [56]:
train[nan_cols].isnull().sum()

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

#### Дропнули одну строку с Nan в столбце Electrical

In [77]:
train = train.dropna(subset=['Electrical'])

In [101]:
#nan_cols_temp = ['Alley', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1',
#                 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageFinish', 
#                 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

nans_NA = ['MiscFeature', 'Fence', 'PoolQC', 'GarageCond', 'GarageFinish', 'GarageType', 'FireplaceQu', 'BsmtFinType2', 
           'BsmtFinType1', 'BsmtQual','BsmtCond','BsmtExposure','Alley']

def print_unique_value(data, feat_list, categ = True):
    for feat in feat_list:
        print(feat, train[feat].unique())

print_unique_value(train, nan_cols_temp)

Alley [nan 'Grvl' 'Pave']
MasVnrType ['BrkFace' 'None' 'Stone' 'BrkCmn' nan]
BsmtQual ['Gd' 'TA' 'Ex' nan 'Fa']
BsmtCond ['TA' 'Gd' nan 'Fa' 'Po']
BsmtExposure ['No' 'Gd' 'Mn' 'Av' nan]
BsmtFinType1 ['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
BsmtFinType2 ['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
Electrical ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
FireplaceQu [nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
GarageType ['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
GarageFinish ['RFn' 'Unf' 'Fin' nan]
GarageQual ['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
GarageCond ['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
PoolQC [nan 'Ex' 'Fa' 'Gd']
Fence [nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
MiscFeature [nan 'Shed' 'Gar2' 'Othr' 'TenC']

In [102]:
train[nans_NA].isnull().sum()

MiscFeature     1405
Fence           1178
PoolQC          1452
GarageCond        81
GarageFinish      81
GarageType        81
FireplaceQu      689
BsmtFinType2      38
BsmtFinType1      37
BsmtQual          37
BsmtCond          37
BsmtExposure      38
Alley           1368
dtype: int64

In [104]:
train[nans_NA].fillna(value='N')

,MiscFeature,Fence,PoolQC,GarageCond,GarageFinish,GarageType,FireplaceQu,BsmtFinType2,BsmtFinType1,BsmtQual,BsmtCond,BsmtExposure,Alley
0,N,N,N,TA,RFn,Attchd,N,Unf,GLQ,Gd,TA,No,N
1,N,N,N,TA,RFn,Attchd,TA,Unf,ALQ,Gd,TA,Gd,N
2,N,N,N,TA,RFn,Attchd,TA,Unf,GLQ,Gd,TA,Mn,N
3,N,N,N,TA,Unf,Detchd,Gd,Unf,ALQ,TA,Gd,No,N
4,N,N,N,TA,RFn,Attchd,TA,Unf,GLQ,Gd,TA,Av,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,N,N,N,TA,RFn,Attchd,TA,Unf,Unf,Gd,TA,No,N
1456,N,MnPrv,N,TA,Unf,Attchd,TA,Rec,ALQ,Gd,TA,No,N
1457,Shed,GdPrv,N,TA,RFn,Attchd,Gd,Unf,GLQ,TA,Gd,No,N
1458,N,N,N,TA,Unf,Attchd,N,Rec,GLQ,TA,TA,Mn,N
1459,N,N,N,TA,Fin,Attchd,N,LwQ,BLQ,TA,TA,No,N

In [105]:
train[nans_NA].isnull().sum()

MiscFeature     1405
Fence           1178
PoolQC          1452
GarageCond        81
GarageFinish      81
GarageType        81
FireplaceQu      689
BsmtFinType2      38
BsmtFinType1      37
BsmtQual          37
BsmtCond          37
BsmtExposure      38
Alley           1368
dtype: int64

In [61]:
train['MasVnrType'].unique()

array(['BrkFace', 'None', 'Stone', 'BrkCmn', nan], dtype=object)

In [68]:
train['BsmtExposure'].unique()

array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object)

In [71]:
train['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [59]:
train.BsmtQual.value_counts(dropna=False)

TA     649
Gd     618
Ex     121
NaN     37
Fa      35
Name: BsmtQual, dtype: int64